// ------------------FONT start---------------------

%logo_title{
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
}

%logo_subtitle{
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
}

%paragraph-i{
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}

%h3{
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;
}

%h2{
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
}

%h4{
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
}

%h5{
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
}

%h5-modal-window{
    font-family: Georgia;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.06em;
}

%button{
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
}

%card_title{
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
}

%card_text{
    font-family: Georgia;
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.06em;
}

%paragraph-mobile-menu{
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0px;
}

%h3-mobile{
    font-family: Georgia;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.06em;
}

%italic{
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
}
// ------------------FONT end---------------------


%cursor{
    cursor: pointer;
}

%button-round{
    @extend %cursor;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid $color-primary;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease-in;
    color: $color-dark-3xl;
}





