.about{
    padding-top: 80px;
    padding-bottom: 100px;
    @media screen and (max-width:767px) {
        padding: 42px 25px;
    }

    &__container{
        @include flex();
        gap: 120px;

        @media screen and (max-width:1279px) {
            justify-content: center;
            gap: 80px;
        }

        @media screen and (max-width:767px) {
            gap: 42px;
        }
    }

    &__image{
        width: 300px;
        height: 408px;
        background-image: url(../assets/image/background/about-pets.png);
        background-size: contain;
        background-repeat: no-repeat;

        @media screen and (max-width:767px) {
           width: 260px;
           height: 353px;
        }
    }

    &__text_wrapper{
        @include flex($direction:column);
        width: 100%;
        max-width: 430px; 
        padding-top: 14px;
        row-gap: 25px;     
        
        @media screen and (max-width:1279px) {
            order:-1;
            padding-top: 0px;
        }
    }

    &__title{
        width: 100%;
        max-width: 370px;
        margin: 0;
        color: $color-dark-l;
        @include h3;

        @media screen and (max-width:767px) {
            @include h3-mobile();
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }

    &__text_part1, &__text_part2{
        margin: 0;
        @extend %paragraph-i;
        color: $color-dark-xl;

        @media screen and (max-width:767px) {
            text-align: justify;
         }
    }
}