.donation{
    width: 100%;
    max-width: 1280px;
    padding-top: 80px;
    padding-bottom: 87px;
    background-color: $color-light-l;

    @media screen and (max-width:1279px) {
        padding-bottom: 100px;
    }
    
    @media screen and (max-width:767px) {
        padding: 42px 20px;
    }

    &__img{
        width: 100%;
        max-width: 505px;
        height: 261px;
        background-image: url(../assets/image/background/donation-dog.png);
        margin-top: 10px;

        @media screen and (max-width:767px) {
            width: 260px;
            height: 135px;
            background-size: contain;
            margin-top: 0px;
        }
    }

    &__container{
        @include flex($j_content:center);
        gap: 30px;

        @media screen and (max-width:1279px) {
            row-gap: 34px;
        }
    }

    &__text_container{
        width: 100%;
        max-width: 380px;

        @media screen and (max-width:1279px) {
            order:-1;
        }
    }

    &__title{
        @include h3();
        width: 300px;
        margin-top: 0;
        margin-bottom: 20px;
        color:$color-dark-l;

        @media screen and (max-width:767px) {
            @include h3-mobile();
            width: 80%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__bank_info{
        @include h5;
        margin-bottom: 20px;
        color:$color-dark-l;

        @media screen and (max-width:767px) {
            font-family: Georgia;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
        }
    }

    &__requisites{
        display: inline-block;
        @include h4;
        margin-bottom: 10px;
        width: 100%;
        max-width: 349px;
        padding-left: 60px;
        padding-top: 11px;
        padding-bottom: 12px;
        text-decoration: none;
        color:$color-dark-l;
        background-color: $color-primary;
        border-radius: 9px;
        background-image: url(../assets/svg/credit-card.svg);
        background-repeat: no-repeat;
        background-position: 15px center;
        background-size: 30px 23px;

        @media screen and (max-width:767px) {
            @include h5;
        }
    }

    &__text{
        @extend %italic;
        color:$color-dark-m;
        @media screen and (max-width:767px) {
            text-align: justify;
            margin-bottom: 10px;
        }
    }
}