.help{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 100px;

    @media screen and (max-width:1279px) {
        padding-left: 69px;
        padding-right: 69px;
    }

    @media screen and (max-width:767px) {
        padding: 42px 0;
    }

    &__title{
        @include h3();
        margin: 0 auto;
        max-width: 310px;
        text-align: center;
        padding-bottom: 60px;

        @media screen and (max-width:767px) {
            @include h3-mobile();
            padding-bottom: 42px;
            width: 240px;
        }
    }

    &__items_container{
        @include flex($j_content:center, $align:center);
        column-gap: 119px;
        row-gap: 55px;
        padding-left: 87px;
        padding-right: 87px;

        @media screen and (max-width:1279px) {
            padding-left: 0;
            padding-right: 0;
            column-gap: 60px;
            row-gap: 55px;
        }

        @media screen and (max-width:767px) {
            justify-content: flex-start;
            width: 290px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0;
            column-gap: 30px;
            row-gap: 30px;
        }
    }

    &__item_img{
        margin: 0 auto;
        width: 60px;
        height: 60px; 
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (max-width:767px) {
            width: 50px;
            height: 50px; 
        }
        
        &-food{
            background-image: url(../assets/svg/icon-pet-food.svg);
        }

        &-transportation{
            background-image: url(../assets/svg/icon-transportation.svg);
        }

        &-toys{
            background-image: url(../assets/svg/icon-toys.svg);
        }

        &-bowls{
            background-image: url(../assets/svg/icon-bowls-and-cups.svg);
        }

        &-shampoos{
            background-image: url(../assets/svg/icon-shampoos.svg);
        }

        &-vitamins{
            background-image: url(../assets/svg/icon-vitamins.svg);
        }

        &-medicines{
            background-image: url(../assets/svg/icon-medicines.svg);
        }

        &-collars{
            background-image: url(../assets/svg/collars-or-leashes.svg);
        }
        
        &-areas{
            background-image: url(../assets/svg/icon-sleeping-area.svg);
        }
    }

    &__item_title{
        @include h4();
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        color: $color-dark-l;

        @media screen and (max-width:767px) {
            @include h5();
            margin-top: 20px;
        }
    }

    &__item{
        @media screen and (max-width:1279px) {
            width: 170px;
        }

        @media screen and (max-width:767px) {
            width: 130px;
        }
    }
}