@import '../abstracts/mixins';
@import '../abstracts/constants';
@import '../abstracts/placeholders';

.logo{

    @include flex($direction:column, $j_content:space-between,$align:center);
    gap: 10px;
    text-decoration: none;

    &__title{
        margin: 0;
        @extend %logo_title;
        color: $color-primary;
    }

    &__subtitle{
        margin: 0;
        @extend %logo_subtitle;
        color: $color-light-xl;
    }
}

