@import '../abstracts/mixins';
@import '../abstracts/constants';
@import '../abstracts/placeholders';

.pets-menu,.menu{
    &__list{
        @include flex($j_content:space-between, $align:center);
        gap: 35px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__link{
        display: inline-block;
        height: 27px;
        @extend %paragraph-i;
        text-decoration: none;
        vertical-align: middle;
        color: $color-dark-s;
        transition: color .3s ease-in;
        
        &::after{
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 0;
            height: 3px;
            background-color: $color-primary;
            transition: width .3s ease-in;
        }
        
        &-active{
            position: relative;

            &::after{
                width: 100%;
            }
        }

        &:hover{
            color: $color-light-s;
        }
    }

    @media screen and (max-width:767px) {
        &__list{
            @include flex($direction:column, $j_content:space-between, $align:center);
            row-gap: 40px;
            position: fixed;
            z-index: 12;
            top:0;
            right: -320px;
            width: 320px;
            height: 100hv;
            transition: right 0.5s;
            background-color: $color-dark-3xl;
        }

        &__link{
            @include paragraph-mobile-menu();
        }
    }
}

.menu{
    &__link{
        color: $color-dark-s;

        &-active{
            color: $color-light-s;
        }

        &:hover{
            color: $color-light-s;
        }
    }
}

.pets-menu{
    &__link{
        color: $color-dark-l;
        
        &-active{
            color: $color-dark-3xl;
        }

        &:hover{
            color: $color-dark-3xl;
        }
    }        
}

.burger-background{
    display: none;
    width: 100vw;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #292929;
    opacity: 0.6;
    z-index: 11;
}

.burger-button{
    @extend %cursor;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
    width: 30px;
    height: 30px;
    margin-right: 43px;

    @media screen and (max-width:767px) {
        display: flex;
    }
}

.burger-button:hover .burger-button__line{
    background-color: lighten($color-primary, 20%);
}

.burger-button__line{
    width: 30px;
    height: 2px;
    background-color: $color-primary;
    transition: all 0.3s;
    z-index: 13;
}

.burger-button__line-first{
    transform: translateY(6px) rotate(90deg);
}

.burger-button__line-second{
    transform: translateY(6px) rotate(90deg);
}

.burger-button__line-third{
    transform: translateY(6px) rotate(90deg);
}