@import '../abstracts/mixins';
@import '../abstracts/constants';
@import '../abstracts/placeholders';

// ------------------common start--------------
.pets-menu,.menu{
    &__list{
        @include flex($j_content:space-between, $align:center);
        gap: 35px;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 12;
    }

    &__logo{
        display: none;
        z-index: 12;
    }

    &__link{
        display: inline-block;
        height: 27px;
        @include paragraph-i();
        text-decoration: none;
        vertical-align: middle;
        color: $color-dark-s;
        transition: color .3s ease-in;
        z-index: 12;
        &::after{
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 0;
            height: 3px;
            background-color: $color-primary;
            transition: width .3s ease-in;
            z-index: 12;
        }
        
        &-active{
            position: relative;
            z-index: 12;
            &::after{
                width: 100%;
                z-index: 12;
            }
        }
    }

    @media screen and (max-width:767px) {
        position: fixed;
        z-index: 12;
        top:0;
        right: -320px;
        width: 320px;
        height: 100vh;
        transition: right 0.5s;
        background-color: $color-dark-3xl;
        &__list{
            @include flex($direction:column, $j_content:center, $align:center);
            row-gap: 43px;
            position: relative;
            width: 100%;
            height: 100%;
        }

        &__logo{
            @include flex($direction:column, $j_content:space-between,$align:center);
            gap: 10px;
            text-decoration: none;
            position: absolute;
            top: 30px;
            left: 10px;
        }

        &__link{
            @include paragraph-mobile-menu();
            height: 49px;


            &::after{
                bottom: -3px;
            }
        }
    }
}

// ------------------common end--------------
.menu{
    &__link{
        color: $color-dark-s;

        &-active{
            color: $color-light-s;
        }

        &:hover{
            color: $color-light-s;
        }
    }
}

.pets-menu{
    &__link{
        color: $color-dark-l;
        
        &-active{
            color: $color-dark-3xl;
        }

        &:hover{
            color: $color-dark-3xl;
        }

        @media screen and (max-width:767px) {
            color: $color-dark-s;

            &-active{
                color: $color-light-s;
            }

            &:hover{
                color: $color-light-s;
            }
        }
    }        
}



.burger-button{
    @extend %cursor;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
    width: 30px;
    height: 30px;
    margin-right: 43px;
    transition: transform 0.5s;
    z-index: 13;

    @media screen and (max-width:767px) {
        display: flex;
    }
}

.burger-button-active{
    transform: rotate(90deg);
}

.burger-button:hover .burger-button__line{
    background-color: lighten($color-primary, 20%);
}

.burger-button__line{
    width: 30px;
    height: 2px;
    background-color: $color-primary;
    transition: all 0.3s;
    z-index: 13;
}

.pets-burger-button{
    .burger-button__line{
        background-color: #000000;
    }

    &:hover .burger-button__line{
        background-color:$color-primary;
    }
}

.pets-burger-button:hover .burger-button__line{
    background-color:$color-primary;
}

.pets-burger-button-active{
    transform: rotate(90deg);
    .burger-button__line{
        background-color: $color-primary;
    }

    &:hover .burger-button__line{
        background-color: lighten($color-primary, 20%);
    }
}

.burger_background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #292929;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s;

    &-show{
        opacity: 0.6;
        z-index: 10;
    }
}