// -----------------Common start-----------------------

.pets-our-friends,.our-friends{
    width: 100%;
    max-width: 1280px;
    background: $color-light-l;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;

    @media screen and (max-width:1279px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width:767px) {
        row-gap:42px;
        padding-bottom: 42px;
        padding-top: 42px;

        padding-left: 10px;
        padding-right: 10px;
    }


    &__title{
        @include flex($direction:column, $wrap:nowrap);
        margin: 0 auto;
        max-width: 400px;
        @include h3;
        text-align: center;
        color: $color-dark-l;

        @media screen and (max-width:767px) {
            @include h3-mobile();
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
}

.slider{
    @include flex($j-content:space-between,$align:center);
    gap: 53px;
    width: 100%;

    @media screen and (max-width:1279px) {
        gap:12px;
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
    }

    @media screen and (max-width:767px) {
        margin-left: auto;
        margin-right: auto;
        width: 270px;
        column-gap: 80px;
        row-gap: 20px;
        justify-content:center;
    }

    &__items_container{
        @include flex($j-content:space-between, $align:center, $wrap:wrap);
        width: 100%;
        max-width: 990px;

        @media screen and (max-width:1279px) {
            flex-wrap: nowrap;
            max-width: 580px;
            overflow: hidden;
            gap: 40px;
        }
        @media screen and (max-width:767px) {
            order: -1;
            width: 270px;
        }
    }

    &__item{
        @extend %cursor;
        width: 100%;
        max-width: 270px;
        margin: 0;
        padding: 0;
        background-color: $color-light-s;
        border-radius: 9px 9px 0px 0px;
        transition: background 0.3s ease-in;

        &:hover{
            background-color: $color-light-xl;
        }

        &:hover .slider__item_button{
            background: $color-primary-light;
            border: 2px solid $color-primary-light;
        }
    }

    &__item_figcaption{
        margin: 0;
        @include flex($direction:column, $j-content:space-between, $align:center, $wrap:nowrap);
        row-gap: 30px;
        padding-top: 28px;
        padding-bottom: 28px;
    }

    &__item_title{
        margin: 0;
        @extend %card_title;
    }

    &__item_button{
        padding-bottom: 13px;
        padding-top: 13px;
    }
}


// -----------------Common end-----------------------

// -----------------main start-----------------------

.our-friends{
    padding-bottom: 99px;
    &__container{
        @include flex($direction:column, $wrap:nowrap);
        row-gap:60px;

        @media screen and (max-width:767px) {
            row-gap:42px;
        }
    }

    @media screen and (max-width:767px) {
        padding-bottom: 42px;
    }

    &__get_rest{
        margin: 0 auto;
        text-decoration: none;
    }
}

.slider{
    &__arrow{
        @extend %button-round;

        &-prev{
            background-image: url(../assets/svg/arrow-prev.svg);
        }

        &-next{
            background-image: url(../assets/svg/arrow-next.svg);
        }

        &:hover{
            background-color: $color-primary;
        }
    }
}
// -----------------main end-----------------------


// -----------------pets start-----------------------
.pets-our-friends{
    padding-top: 200px;
    padding-bottom: 103px;
    @media screen and (max-width:1279px) {
        padding-bottom: 75px;
    }

    @media screen and (max-width:767px) {
        padding-top: 163px;
        padding-bottom: 43px;
    }

    &__container{
        @include flex($direction:column, $wrap:nowrap);
        row-gap:60px;

        @media screen and (max-width:1279px) {
            row-gap: 0px;
        }
    }

    &__title{
        @media screen and (max-width:1279px) {
            padding-bottom: 30px;
        }

        @media screen and (max-width:767px) {
            padding-bottom: 40px;
        }
    }
}

.pets-slider{
    width: 100%;
    &__items_container{
        @include flex($j-content:space-between, $align:center, $wrap:wrap);
        width: 100%;
        max-width: 1200px;
        column-gap: 40px;
        row-gap: 30px;

        @media screen and (max-width:1279px) {
            justify-content: center;
            padding-bottom: 45px;
            margin-left: auto;
            margin-right: auto;
            max-width: 768px;
        }

        @media screen and (max-width:767px) {
            justify-content: center;
            row-gap: 31px;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media screen and (max-width:1279px) {
        .slider__item{
            &:nth-last-child(1),&:nth-last-child(2){
                display: none;
            }
        }
    }

    @media screen and (max-width:767px) {
        .slider__item{
            &:nth-last-child(1),
            &:nth-last-child(2),
            &:nth-last-child(3),
            &:nth-last-child(4),
            &:nth-last-child(5){
                display: none;
            }
        }
    }
}

.pagination{
    @include flex($j-content:center, $wrap:nowrap);
    gap: 20px;

    
    @media screen and (max-width:767px) {
        column-gap: 10px;
    }
    
        &__begin{
            @extend %button-round;
            @extend %h4;

            &:hover{
                background: $color-primary-light;
                border: 2px solid $color-primary-light;
            }

            &:disabled{
                cursor: default;
                color: $color-dark-s;
                border-color: $color-dark-s;
                background: transparent;
            }
        }

        &__end{
            @extend %button-round;
            @extend %h4;

            &:hover{
                background: $color-primary-light;
                border: 2px solid $color-primary-light;
            }

            &:disabled{
                cursor: default;
                color: $color-dark-s;
                border-color: $color-dark-s;
                background: transparent;
            }
        }

        &__prev{
            @extend %button-round;
            @extend %h4;

            &:hover{
                background: $color-primary-light;
                border: 2px solid $color-primary-light;
            }

            &:disabled{
                cursor: default;
                color: $color-dark-s;
                border-color: $color-dark-s;
                background: transparent;
            }
        }

        &__next{
            @extend %button-round;
            @extend %h4;

            &:hover{
                background: $color-primary-light;
                border: 2px solid $color-primary-light;
            }

            &:disabled{
                cursor: default;
                color: $color-dark-s;
                border-color: $color-dark-s;
                background: transparent;
            }
        }

        &__page{
            @extend %button-round;
            @extend %h4;
            background-color: $color-primary;

            &:hover{
                background: $color-primary-light;
                border: 2px solid $color-primary-light;
            }

            &:disabled{
                cursor: default;
                color: $color-dark-s;
                border-color: $color-dark-s;
                background: transparent;
            }
        }
}

// -----------------pets end-----------------------