// -----------------Common start-----------------------

.pets-our-friends,.our-friends{
    width: 100%;
    max-width: 1280px;
    background: $color-light-l;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;

    @media screen and (max-width:1279px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width:767px) {
        row-gap:42px;
        padding-bottom: 42px;
        padding-top: 42px;

        padding-left: 10px;
        padding-right: 10px;
    }


    &__title{
        @include flex($direction:column, $wrap:nowrap);
        margin: 0 auto;
        max-width: 400px;
        @include h3;
        text-align: center;
        color: $color-dark-l;

        @media screen and (max-width:767px) {
            @include h3-mobile();
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
}




// -----------------Common end-----------------------

// -----------------main start-----------------------

.our-friends{
    padding-bottom: 99px;
    &__container{
        @include flex($direction:column, $wrap:nowrap);
        row-gap:60px;

        @media screen and (max-width:767px) {
            row-gap:42px;
        }
    }

    @media screen and (max-width:767px) {
        padding-bottom: 42px;
    }

    &__get_rest{
        margin: 0 auto;
        text-decoration: none;
    }
}

.slider{
    @include flex($j-content:space-between,$align:center);
    gap: 53px;
    width: 100%;

    @media screen and (max-width:1279px) {
        gap:12px;
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
    }

    @media screen and (max-width:767px) {
        margin-left: auto;
        margin-right: auto;
        width: 270px;
        column-gap: 80px;
        row-gap: 20px;
        justify-content:center;
    }

    &__items_container{
        @include flex($j-content:space-between, $align:center, $wrap:wrap);
        width: 100%;
        max-width: 990px;
        overflow: hidden;

        @media screen and (max-width:1279px) {
            flex-wrap: nowrap;
            max-width: 580px;
            overflow: hidden;
            gap: 40px;
        }
        @media screen and (max-width:767px) {
            order: -1;
            width: 270px;
        }
    }
}

.slider{
    &__wrappers_container{
        position: relative;
        left: -1080px;
        @include flex($j-content:space-between, $align:center, $wrap:nowrap);
        gap: 90px;
        
        @media screen and (max-width:1279px) {
            gap: 40px;
            left: -620px;
        }

        @media screen and (max-width:767px) {
            gap: 0px;
            left: -270px;
        }
    }

    &__items_wrapper{
        @include flex($j-content:space-between, $align:center, $wrap:nowrap);
        width: 990px;
        gap: 90px;

        @media screen and (max-width:1279px) {
            width: 580px;
            gap: 40px;
        }

        @media screen and (max-width:767px) {
            width: 270px;
        }        
    }

    &__arrow{
        @extend %button-round;

        &-prev{
            background-image: url(../assets/svg/arrow-prev.svg);
        }

        &-next{
            background-image: url(../assets/svg/arrow-next.svg);
        }

        &:hover{
            background-color: $color-primary;
        }
    }
}

@keyframes main-move-right {
    from {left: -1080px;}
    to {left: -2160px;}
}

@keyframes main-move-left {
    from {left: -1080px;}
    to {left: 0px;}
}

@media screen and (max-width:1279px) {
    @keyframes main-move-right {
        from {left: -620px;}
        to {left: -1240px;}
    }

    @keyframes main-move-left {
      from {left: -620px;}
      to {left: 0px;}
    }
}

@media screen and (max-width:767px) {
    @keyframes main-move-right {
        from {left: -270px;}
        to {left: -540px;}
    }

    @keyframes main-move-left {
        from {left: -270px;}
        to {left: 0px;}
      }
}

  .main-transition-right {
    animation-name: main-move-right;
    animation-duration: 0.7s;
  }
  
  .main-transition-left {
    animation-name: main-move-left;
    animation-duration: 0.75s;
  }
// -----------------main end-----------------------


// -----------------pets start-----------------------
.pets-our-friends{
    padding-top: 200px;
    padding-bottom: 103px;
    @media screen and (max-width:1279px) {
        padding-bottom: 75px;
    }

    @media screen and (max-width:767px) {
        padding-top: 163px;
        padding-bottom: 43px;
    }

    &__container{
        @include flex($direction:column, $wrap:nowrap);
        row-gap:60px;

        @media screen and (max-width:1279px) {
            row-gap: 0px;
        }
    }

    &__title{
        @media screen and (max-width:1279px) {
            padding-bottom: 30px;
        }

        @media screen and (max-width:767px) {
            padding-bottom: 40px;
        }
    }
}

.pets-slider{
    width: 100%;
    &__items_container{
        @include flex($j-content:space-between, $align:center, $wrap:wrap);
        width: 100%;
        max-width: 1200px;
        column-gap: 40px;
        overflow: hidden;
        
        @media screen and (max-width:1279px) {
            justify-content: center;
            padding-bottom: 45px;
            margin-left: auto;
            margin-right: auto;
            max-width: 580px;
        }

        @media screen and (max-width:767px) {
            justify-content: center;
            max-width: 270px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__wrappers_container{
        z-index: 0;
        position: relative;
        left: -1240px;
        @include flex($j-content:space-between, $align:center, $wrap:nowrap);
        gap: 40px;

        
        @media screen and (max-width:1279px) {
            gap: 40px;
            left: 0;
        }

        @media screen and (max-width:767px) {
            gap: 0px;
            left: 0px;
        }
    }

    &__items_wrapper{
        @include flex($j-content:space-between, $align:center);
        z-index: 1;
        width: 1200px;
        column-gap: 40px;
        row-gap: 30px;


        @media screen and (max-width:1279px) {
            width: 580px;
            column-gap: 40px;
            row-gap: 30px;
        }

        @media screen and (max-width:767px) {
            width: 270px;
            row-gap: 31px;
        }        
    }
}

@keyframes pets-move-right {
    from {left: -1240px;}
    to {left: -2480px;}
}

@keyframes pets-move-left {
    from {left: -1240px;}
    to {left: 0px;}
}

@media screen and (max-width:1279px) {
    @keyframes pets-move-right {
        from {left: 0px;}
        to {left: -620px;}
    }

    @keyframes pets-move-left {
      from {left: 0px;}
      to {left: 620px;}
    }
}

@media screen and (max-width:767px) {
    @keyframes pets-move-right {
        from {left: 0px;}
        to {left: -270px;}
    }

    @keyframes pets-move-left {
        from {left: 0px;}
        to {left: 270px;}
    }
}

.pets-transition-right {
    animation-name: pets-move-right;
    animation-duration: 0.7s;
}
  
.pets-transition-left {
    animation-name: pets-move-left;
    animation-duration: 0.7s;
}



// -----------------pets end-----------------------