.slider{
  
    &__item{
        @extend %cursor;
        width: 100%;
        max-width: 270px;
        margin: 0;
        padding: 0;
        background-color: $color-light-s;
        border-radius: 9px 9px 0px 0px;
        transition: background 0.3s ease-in;

        &:hover{
            background-color: $color-light-xl;
        }

        &:hover .slider__item_button{
            background: $color-primary-light;
            border: 2px solid $color-primary-light;
        }
    }

    &__item_figcaption{
        margin: 0;
        @include flex($direction:column, $j-content:space-between, $align:center, $wrap:nowrap);
        row-gap: 30px;
        padding-top: 28px;
        padding-bottom: 28px;
    }

    &__item_title{
        margin: 0;
        @extend %card_title;
    }

    &__item_button{
        padding-bottom: 13px;
        padding-top: 13px;
    }
}


.pets-slider{
    
    .slider__item{
        z-index: 1;
    }
}