.button{
    @extend %button;
    @extend %cursor;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    padding: 15px 45px;
    border-radius: 100px;
    transition:background 0.3s ease-in;


    &-colored{
        border: none;
        background-color: $color-primary;
        color: $color-dark-3xl;
    
        &:hover{
            background: $color-primary-light;
        }
    }

    &-light{
        border: 2px solid $color-primary;
        background-color: $color-light-s;
        
        &:hover{
            background: $color-primary-light;
            border: 2px solid $color-primary-light;
        }
    }

}

