@font-face {
    font-family: "Georgia";
    src:local("Georgia"),
        url("../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Arial";
    src:local("Arial"),
        url("../assets/fonts/arial/arial-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}