.footer{
    width: 100%;
    max-width: 1280px;
    padding-top: 38px;
    padding-left: 40px;
    padding-right: 40px;
    background: url(../assets/image/background/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;


    @media screen and (max-width:1279px) {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }

    
    @media screen and (max-width:767px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    &__container{
        @include flex($j_content:space-between);

        @media screen and (max-width:1279px) {
            justify-content: center;
            row-gap: 63px;
            column-gap: 60px;
        }

        @media screen and (max-width:767px) {
            row-gap: 15px;
        }
    }
    
    &__content_container{
        @include flex($direction:column, $wrap:nowrap);
        padding-top: 20px;

        &-contacts{
            width: 279px;

            .footer__title{
                margin-bottom: 40px;
            }

        }

        &-address{
            width: 302px;
            
            .footer__title{
                margin-bottom: 28px;

                @media screen and (max-width:767px) {
                    width: 270px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 35px;
                }
            }
        }
    }

    &__title{
        @include h3();
        color: $color-light-xl;
        margin: 0;

        @media screen and (max-width:767px) {
            @include h3-mobile();
            text-align: center;
        }
    }

    &__content{
        @extend %h4;
        @extend %cursor;
        color: $color-primary;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0;
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: 0 center;

        &-email{
            background-image: url(../assets/svg/icon-email.svg);
            margin-bottom: 40px;
            padding-left: 60px;

            @media screen and (max-width:767px) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        &-phone{
            background-image: url(../assets/svg/icon-phone.svg);
            padding-left: 60px;

            @media screen and (max-width:767px) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        &-boston{
            background-image: url(../assets/svg/icon-marker.svg);
            margin-bottom: 28px;
            padding-left: 42px;
            @media screen and (max-width:767px) {
                margin-bottom: 35px;
            }
        }

        &-london{
            background-image: url(../assets/svg/icon-marker.svg);
            padding-left: 42px;
            @media screen and (max-width:767px) {
                margin-bottom: 25px;
            }
        }
    }

    &__img{
        width: 300px;
        height: 310px;
        background-image: url(../assets/image/background/footer-puppy.png);

        @media screen and (max-width:767px) {
            width: 260px;
            height: 269px;
            background-size: contain;
        }
    }
}