@import '../abstracts/mixins';
@import '../abstracts/constants';
@import '../abstracts/placeholders';

.pets-header, .header{

    &__wrapper{
        @include flex($j_content:space-between,$align:center)
    }

    &__logo_container{
        margin: 0;
    }
}

.header{
    padding-bottom: 60px;
    
}

.pets-header{
    position: fixed; 
    width: 100%;
    max-width: 1280px;
    padding: 30px 40px;
    background-color: $color-light-xl;
    z-index: 12;

    @media screen and (max-width:1279px) {
        padding: 30px 30px;
    }

    @media screen and (max-width:767px) {
        padding: 30px 10px;
    }

    &__wrapper{
        @include flex($j_content:space-between,$align:center);
        background-color: $color-light-xl;

    }
}