.wrapper-start{
    width: 100%;
    min-height: 908px;
    margin: 0 auto;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    background: url(../assets/image/background/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}



